* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.container1 {
    display: flex;
}


main {
    width: 100%;
    padding: 20px;
    margin-left: 200px; 
    overflow-y: auto;
    transition: margin-left 0.5s ease, width 0.5s ease;
}


.sidebar {
    background: #0f3995;
    color: #fff;
    height: 100vh;
    width: 200px;
    position: fixed;
    z-index: 1;
    overflow-y: auto;
    padding-top: 38px;
    transition: width 0.5s ease; 
}


.top_section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 15px;
}

.logo {
    font-size: 30px;
}


.bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
    cursor: pointer;
}


.link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 25px;
    transition: all 0.3s;
    text-decoration: none;
    cursor: pointer;
}


.link:hover {
    background: #000;
    color: #fff;
    transition: all 0.5s;
}


.active {
    background: #000;
    color: #fff;
}


.icon,
.link_text {
    font-size: 20px;
    text-decoration: none;
}

@media (max-width: 768px) {
  .sidebar {
    width: 50px; 
  }
  .logo {
    display: none;
  }
  .bars {
    margin-left: 0;
  }
  .link_text {
    display: none;
  }
  .button {
    margin-top: 10px; 
  }
}
