.passcode-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
  }
  
  .image-container {
    flex: 0 0 auto;
    margin-right: 20px;
  }
  
  .image {
    width: 500px;
    height: 500px;
    max-width: 100%; /* Make the image responsive */
  }
  
  .content-container {
    flex: 1;
    max-width: 400px;
    margin-top: 20px; /* Add margin on top for spacing */
  }
  
  .passcode-label {
    font-family: 'cursive';
    font-weight: bolder;
    font-size: 20px;
    color: blue;
    margin-top: 10px; /* Adjusted for smaller screens */
  }
  
  .passcode-inputs {
    display: flex;
  }
  
  .passcode-field {
    border-radius: 10px;
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
    width: 30px; /* Adjust as needed */
  }
  
  .passcode-error {
    color: red;
    text-align: center;
    margin-top: 10px; /* Adjusted for smaller screens */
  }
  
  .secret-key-input {
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    width: 100%; /* Take up full width on smaller screens */
  }
  
  .login-button {
    background-color: green;
    border-radius: 10px;
    margin-top: 10px;
    width: 50%; /* Take up full width on smaller screens */
  }
  
  .forgot-password-link {
    text-decoration: none;
    font-size: 15px;
    margin-top: 10px;
    width: 50%; /* Take up full width on smaller screens */
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .passcode-container {
      flex-direction: column; /* Stack items vertically on smaller screens */
      align-items: stretch; /* Stretch items to full width */
    }
  
    .image-container {
      margin-right: 0; /* Remove margin on smaller screens */
      margin-bottom: 20px; /* Add margin at the bottom for spacing */
    }
  }
  
  