/* .main{
    height: 91vh;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-container {
    margin: 20px auto; 
} */

/* @media (min-width: 768px) {
    .table-container {
        max-width: 60%; 
    }

    .heading1 {
        width: 100%; 
    }
}
.table {
    width: 100%;
    border-collapse: collapse;
  } */
  
  @media (max-width: 768px) {
    .table th:nth-child(3),
    .table td:nth-child(3),
    .table th:nth-child(5),
    .table td:nth-child(5),
    .table th:nth-child(2),
    .table td:nth-child(2)
     {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .table th,
    .table td {
      font-size: 12px;
      padding: 8px;
    }
  }
  
  @media (max-width: 768px) {
    .table-responsive {
      overflow-x: auto;
    }
  }
  